.method_container{
    display: flex;
}
.method_container > *{
    padding-left: 30px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.search_module{
    margin-bottom: 4em;
}
.app_doctor_info{
    display: flex;
    align-items: center;
}
.search_module input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 186, 253);
    transition: 0.2s all linear;
    margin-right: 5px;
    cursor: pointer;

}

.search_module input[type="radio"]:checked {
    border: 6px solid rgb(0, 186, 253);
    outline: unset !important;
}