.view_pres{
    background-color: #068966;
    color: white;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 3em;
    border: none;
    cursor: pointer;
}
.view_pres:hover{
    background-color: #1f6d58;
}